@use '../../../styles/abstracts/tokens' as *;

.headerPlaceholder {
  display: flex;
  align-items: center;
  top: 0;
  height: 64px;
  z-index: 1000;
  position: fixed;
  border-top: 0;
  border: 1px solid transparent;
  background: transparent;
  transition: all $transition-duration;

  &:hover {
    background-color: var(--color-header);
    border-color: var(--color-header-border);
  }
}

.headerPlaceholderHidden {
  opacity: 0;
  pointer-events: none;
}

.headerRight {
  @extend .headerPlaceholder;
  display: flex;
  justify-content: center;
  gap: 3px;
  right: 0;
  border-bottom-left-radius: 0.5rem;
}

.headerLeft {
  @extend .headerPlaceholder;
  left: 0;
  border-bottom-right-radius: 0.5rem;
}

.headerScrolled {
  background-color: var(--color-header);
  border-color: var(--color-header-border);
}
