@use '../../../styles/abstracts/tokens' as *;

%headerPlaceholder {
  display: flex;
  align-items: center;
  top: 0;
  height: 64px;
  z-index: 1000;
  position: fixed;
  border-top: 0;
  border: 1px solid transparent;
  background: transparent;
  transition: all $transition-duration;

  ul {
    display: flex;
    gap: 3px;
    justify-content: center;
  }

  &:hover {
    background-color: var(--color-header);
    border-color: var(--color-header-border);
  }
}

@mixin headerSide($position) {
  @extend %headerPlaceholder;

  @if $position == 'right' {
    right: 0;
    border-bottom-left-radius: 0.5rem;
  } @else {
    left: 0;
    border-bottom-right-radius: 0.5rem;
  }
}

.headerRight {
  @include headerSide('right');
}

.headerLeft {
  @include headerSide('left');
}

.header {
  @extend %headerPlaceholder;
}

.headerScrolled {
  background-color: var(--color-header);
  border-color: var(--color-header-border);
}
