@use '../../../styles/index.scss' as *;

.header {
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  height: 64px;
  z-index: 1000;
  position: fixed;
  border-top: 0;
  border: 1px solid transparent;
  border-bottom-left-radius: 0.5rem;

  &:hover {
    background-color: var(--color-block-1);
  }
}
