@use '../../../styles/index.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background:
    linear-gradient(
      180deg,
      hsla(0, 0%, 35.29%, 0) 0%,
      hsla(0, 0%, 34.53%, 0.034375) 16.36%,
      hsla(0, 0%, 32.42%, 0.125) 33.34%,
      hsla(0, 0%, 29.18%, 0.253125) 50.1%,
      hsla(0, 0%, 25%, 0.4) 55%,
      hsla(0, 0%, 18%, 0.6) 70%,
      hsla(0, 0%, 15%, 0.65) 75%,
      hsla(0, 0%, 8%, 0.75) 90%,
      hsla(0, 0%, 0%, 0.85) 100%
    ),
    url('../../../assets/images/homePageImage.avif') no-repeat center/cover;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1290px;
  width: 100%;
  min-height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  gap: 20px;
  margin-top: 30vh;
}

.textBlockPrimary {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.textBlockSecondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: calc(1290px / 2 - 20px);
}

.text {
  color: var(--color-light-100);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: $font-size-xxl;
  font-weight: $font-weight-medium;
}

.title {
  @extend .text;
  font-size: $font-size-xxxl;
}

.buttonSpace {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
}
