@use '../../../../../../styles/index.scss' as *;

.fullViewOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn $transition-duration;
  cursor: pointer;

  &:has(.fullSizeImage:hover) {
    cursor: default;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fullSizeImage {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}

.overlayButton {
  position: absolute;
  top: 44px;
  right: 1px;
  color: var(--color-dark-100);
  z-index: 1001;

  .fullViewOverlay:not(:has(.fullSizeImage:hover)):hover & {
    color: var(--color-light-100);
  }
}
