@use '../../../styles/index.scss' as *;

.errorPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.errorPageImage {
  padding: 15px 0 15px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.errorPageText {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: $font-size-l;
  font-weight: $font-weight-semibold;
}

.errorPageTitle {
  @extend .errorPageText;
  font-size: $font-size-xl;
}
