.myMasonryGrid {
  display: flex;
  margin-left: -16px;
  width: auto;
}

/* Колонки */
.myMasonryGridColumn {
  padding-left: 16px;
  background-clip: padding-box;
}

/* Элементы внутри колонок */
.masonryItem {
  margin-bottom: 40px;
}
